<div>    
    Page 2
    <div><app-entete></app-entete></div>
    <div class="flex-container">
        <div>
            <div><app-recherche></app-recherche></div>
        </div>
        <div>
            <div><app-carousel></app-carousel></div>  
            <div class="flex-container">  
                <div> <app-hero [nom]="nonhero1"></app-hero></div>
                <div> <app-hero [nom]="nonhero2"></app-hero></div>
                <div> <app-hero [nom]="nonhero3"></app-hero></div>      
            </div>         
        </div>
    </div> 
    <div><app-pied-de-page></app-pied-de-page></div>
</div>
