// 
$mainColor:  #407294
$barColor: #e3f2fd 

h1, h4, p
    color: $mainColor

.rapport
    height: 100px

a:hover
    text-decoration: none

#root
    margin-top: 40px
    padding-top: 60px


.postal_parallax
    background-image: url(./img/wave.jpg)
    height: 100vh
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative

.bg-ligth-blue
    background-color: $barColor
    color: white

.bg-form
    background-color: #008BAA
    color: white
    padding: 0.5em

.container
    min-height: 480px  
   

.postal_parallax .container
    display: inline-block
     

body
    font-family: 'Montserrat', sans-serif
    background-color: $barColor
