//Étudiant: Rafael De Mendonça 
//Projet Final: PWA / CrudCrud - BlogTours
//Cours: Tech. Intégration des interfaces web2 et Techniques de Programmation Web 2
//Date: 2020-09-27

//Variables
$mainColor:  #407294
$barColor: #e3f2fd 
$fontStack: 'Montserrat', sans-serif
$font-size: 1em

//BG Page Accuel / Afiche cards
body
    font-family: $fontStack
    background-color: $barColor

h1, h4, p
    color: $mainColor

.rapport
    height: 100px

a:hover
    text-decoration: none

#root
    margin-top: 40px
    padding-top: 60px

.bg-ligth-blue
    background-color: $barColor
    color: white

.container
    min-height: 480px

.error404
    width: 100%

//Background form Editer et ajouter
.parallax
    height: 100%
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

.postal_parallax
    @extend .parallax
    background-image: url(./img/wave.jpg)     

.edit_parallax
    @extend .parallax
    background-image: url(./img/under_water.jpg)
   

.postal_parallax .container
    display: inline-block 


//Style des formulaires
@mixin btnColors($font-color, $font-size: 1em)
    font-size: $font-size
    padding: $font-size/2
    background-color: #001324
    color: $font-color

.bg-form
    @include btnColors($font-color: #fff, $font-size: 1.2em)

.btn-style
    @include btnColors($font-color: #fff, $font-size: 1.2em)

